<p-dialog
    [(visible)]="showConfirmationDialog"
    header="Confirm"
    [modal]="true"
    [style]="{ width: '450px' }"
>
    <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span [innerHTML]="msgConfirmationDialog"></span>
    </div>
    <ng-template pTemplate="footer">
        <button
            pButton
            pRipple
            icon="pi pi-times"
            class="p-button-text"
            label="{{noButtonText}}"
            (click)="cancelDelete()"
        ></button>
        <button
            pButton
            pRipple
            icon="pi pi-check"
            class="p-button-text"
            label="{{yesButtonText}}"
            (click)="confirmDelete()"
        ></button>
    </ng-template>
</p-dialog>
